.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.competitive-sites-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Google Sans Regular";
}

.competitive-sites-inline > i {
  color: #868e96;
}

.competitive-sites-inline > i:hover {
  color: #645beb;
}

.competitive-sites-main-div ul.dev-icons li:last-child img.skill-image {
  width: 50px; /* adjust size here */
  height: 50px;
  object-fit: contain;
}
.dev-icons li:nth-child(5) img.skill-image {
  width: 55px; /* smaller than the others */
  height: 55px;
  object-fit: contain;
  transform: scale(0.85); /* gently shrink the R */
  margin: 0 10px;
  vertical-align: middle;
  position: relative;
  top: -9 px;
}
.dev-icons li:nth-child(5) img.skill-image {
  position: relative;
  top: 1px; /* move down slightly */
  /* if too low, change to top: -4px */
}
.dev-icons li:nth-child(5) img.skill-image {
  transform: translateY(-13px); /* try -10px first */
}
